.page{

    height: 100vh;
}


#LiveCss{

    display:none;
    font-size: 10px;
}


#dialogForm input{
    width:60%;
    clear:right;
}


.formDiv{
    text-align: right;
    margin-bottom: 10px;
}

.formDiv label{
    float:left;
}

#cssclass, #cssid{
    margin-bottom:10px;
}


#LiveCssOn{
    position: fixed;
    right: 10px;
    top: 100px;
    background-color: grey;
    opacity: 0.66;
    padding: 10px;
    cursor: pointer;
}

#error{

    color:red;
}


#dialog{

 /*   background-color: green; */
}



#current {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}