.page{

    height: 100vh;
}


#dialogForm input{
    width:60%;
    clear:right;
}


.formDiv{
    text-align: right;
    margin-bottom: 10px;
}

.formDiv label{
    float:left;
}

#cssclass, #cssid{
    margin-bottom:10px;
}


#toDialog{
    position: fixed;
    right: 10px;
    top: 100px;
    background-color: grey;
    opacity: 0.66;
    padding: 10px;
    cursor: pointer;
}


#dialog{

 /*   background-color: green; */
}